$pass-color: #ccffcc;
$run-color: #ffffcc;
$fail-color: #ff9999;
$pend-color: #f2f2f2;

$button-color: #80ffff;
$button-text-color: #404040;

button {
  margin: 5px;
  background-color: $button-color;
  color: $button-text-color;
}

a {
  margin: 0 8px 0 8px;
}

.results-table {
  margin-top: 50px;
  padding: 10px 10px 0px 10px;
  border: 1px solid;
}

// Styles for RegressionSelect
.regression-select {
  @include display(flex);
  @include flex-direction(column);
  width: 400px;
  border: 1px solid;
  margin-bottom: 20px;
  padding: 5px;
}

.selectors {
  @include display(flex);
  @include flex-direction(row);
}

.select-field {
  @include flex-grow(1);
}

// Styles for all three summary boxes
//
.all-summaries {
  @include display(flex);
  @include flex-direction(row);
  margin: 10px;
}

.summary-container {
  border: solid 1px;
  @include flex-grow(1);
  margin: 0 20px 0 20px;
}


// Styles for an individual summary box
//

.run-type-summary {
}

.summary-label {
  border: dashed 1px;
}

.summary-results {
  @include display(flex);
  @include flex-direction(row);
}

.summary-total, .summary-complete, .summary-failed {
  @include flex-grow(1);
  width: 50px;
}

.pass-color {
  background-color: $pass-color;
}

.run-color {
  background-color: $run-color;
}

.fail-color {
  background-color: $fail-color;
}


.table-header-icon {
  margin: 0 4px 0 4px;
}


.filter-modal {
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  display: none;
  height: 200px;
  width: 200px;
}


.filter-visible {
  display: block;
}

.edit-columns-pane {
  border: 1px solid;
  margin: 5px;
  display: none;
}
.edit-columns-visible {
  display: block;
}

.regression-summary {
  border: 1px solid;
  margin: 10px;
}

.job-pass {
  background-color: $pass-color;
}

.job-fail {
  background-color: $fail-color;
}

.job-run {
  background-color: $run-color;
}

.job-pend {
  background-color: $pend-color;
}
